<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jogue.photogallery">

    <permission
        android:name="com.jogue.photogallery.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.jogue.photogallery.PRIVATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity android:name=".activity.PhotoGalleryActivity"/>

        <activity
            android:name=".activity.DetailPhotoActivity"
            android:process=":picture" />
        <activity
            android:name=".activity.PhotoPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".receiver.PollService" />

        <receiver android:name=".receiver.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.NotificationReceiver"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.jogue.photogalley.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>